/* Variables Root */

@mixin Root-variables-css {

        --Color-Menu:#{$ColorMenu};
        --Color-hover:#{$Color-hover};
        --Text-bck-shadow:#{$Text-bck-shadow};
        --Color-User-page:#{$Color-User-page};
        --Color-BG-sections:#{$Color-BG-sections};
        --Color-text-section-examples: #{$Color-text-section-examples} ;
        --color-page:#{$color-page};
        --shadow:#{$shadow} ;
        --shadow-content-promove: #{$shadow-content-promove} ;
        --Border-bootom-white:#{$Border-bootom-white} ;
        --Color-BG-Public-User:#{$Color-BG-Public-User};
    
        /* Buy Variables css */
    
        --Col-Background: #{$Col-Background} ;
        --Shadow-CTG: #{$Shadow-CTG} ;
    
        /* Catalogo Variables css */
    
        --Separation-aside: #{$Separation-aside} ;

        /* Login Regist Variables */

        --color-formulario: #{$color-formulario};
        --color-lineas: #{$color-lineas};

        /* Variables Pago */

        --color-fondo: #{$color-fondo};
        --color-sombra: #{$color-sombra};
        --sombras: #{$sombras};
}


/* Mixin BeakPoints */

@mixin RWD($Bp) {
        @if map-has-key($BreakPoints, $Bp) {
                @media screen and (max-width: map-get($BreakPoints, $Bp)) {
                        @content;
                }
        } @else {
               @media screen and (max-width:$Bp) {
                       @content;
                       
               }
                
        }
        
}


/* Mixin Heigth */

@mixin RWD-Heigth($Bp) {
        @if map-has-key($BreakPoints, $Bp) {
                @media screen and (max-height: map-get($BreakPoints, $Bp)) {
                        @content;
                }
        } @else {
               @media screen and (max-height:$Bp) {
                       @content;
                       
               }
                
        }
        
}








