/* Variables del Root Generales */

$ColorMenu:rgba(55, 55, 59, 0.986);
$Color-hover:rgb(78, 76, 92);
$Text-bck-shadow: 2px 2px 2px rgb(0, 0, 0),2px -2px 2px rgb(0, 0, 0), -2px 2px 2px rgb(0, 0, 0), -2px -2px 2px rgb(0, 0, 0);
$Color-User-page: rgba(46, 46, 46, 0.897);
$Color-BG-sections: rgb(98, 98, 98);
$Color-text-section-examples: rgb(35, 33, 46);
$color-page:rgb(240, 240, 240);
$shadow: 0.5em 0.5em 0.5em rgba(0, 0, 0, 0.589);
$shadow-content-promove: 0.5em 0.5em 0.5em rgba(218, 218, 218, 0.589);
$Border-bootom-white: 2px solid rgba(228, 228, 228, 0.924);
$Color-BG-Public-User: rgb(151, 151, 151);

/* Buy Variables css */

$Col-Background: rgba(221, 221, 221, 0.315);
$Shadow-CTG: 0 4px 3px rgba(0,0,0,.5);

/* Catalogo Variables css */

$Separation-aside: 5px solid rgb(241, 241, 241);

/* Login Regist Variables */

$color-formulario: rgba(51, 51, 51, 0.61);
$color-lineas: rgba(255, 255, 255, 0.959);

/* Variables Pago */

$color-fondo: repeating-linear-gradient(skyblue 0, skyblue 5px, orange 5px, orange 10px);
$color-sombra: 0 10px 10px 0 rgba(90,116,148,0.3);
// $color : rgb(#000);
$sombras : rgba(0, 0, 0, 0.3);



/* Break Points */

$BreakPoints: (
    small:360px,
    x-small:380px,
    intermedium: 420px,
    medium:640px,
    large:1024px,
    x-large:1440px,
    xx-large:1880px,
    /* BreakPoints especiales para ciertos objetos */
    Break-promotion:960px
);

/* Z index */

:root {
    --z-back:-10;
    --z-Normal:1;
    --z-Superior:10;
    --z-Fixed:100;
    --z-container:1000;
}






